/* Importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=IM+Fell+DW+Pica&display=swap');

/* Reset básico e fundo geral */
body {
    margin: 0;
    padding: 0;
    background-color: #3e3a37; /* Cor de fundo escura */
    color: #f0e6d6; /* Cor do texto em tom de pergaminho */
    font-family: 'IM Fell DW Pica', serif;
    background-image: url('https://www.transparenttextures.com/patterns/fabric-light.png'); /* Textura de fundo */
    background-repeat: repeat;
}

header {
    background-color: #1f0505;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 1rem;
    z-index: 1;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    font-size: medium;
    transition: transform 0.3s, box-shadow 0.3s;
}

nav a:hover {
    color: #7b5e57;
    transform: translateY(-3px);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    background: #fff;
    height: 3px;
    width: 25px;
    margin: 4px 0;
}

/* --- Estilo da Página de Entrada (index.html) --- */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1549416043-41f3d8e5e78a');
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 10px; /* Adicionado para evitar que o conteúdo grude nas bordas */
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 4rem;
    color: #e0bf1a;
    text-shadow: 3px 3px 5px black;
    letter-spacing: 5px;
    z-index: 1;
}


.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #5d4037;
    color: #f0e6d6;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    border: 3px solid #ffd700;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 1;
}

.btn:hover {
    background-color: #7b5e57;
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
}

/* --- Estilo da Página do Livro (livro.html) --- */
.book-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.book-page {
    width: 80%;
    height: 420px;
    max-width: 800px;
    background-color: #f0e6d6;
    color: #4b3d30;
    padding: 50px 80px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border: 5px solid #5d4037;
    border-radius: 5px;
    line-height: 1.8;
    position: relative;
    background-image: url('https://www.transparenttextures.com/patterns/old-map.png');
    background-repeat: repeat;
    overflow-y: auto;     /* rolagem vertical */

}

.book-title {
    font-family: 'Cinzel', serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #a68b5a;
    padding-bottom: 10px;
}

p {
    font-size: 1.1rem;
    text-align: justify;
    margin-bottom: 20px;
}

/* CAMPO RELACIONADO A PÁGINA DE PERSONAGENS */

.slider-container {
  max-width: 400px;
  width: 90%;
  margin: 40px auto; /* Centraliza horizontalmente e dá espaçamento vertical */
  background-color: #070707;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza conteúdo interno */
}

.slider-image {
  max-width: 100%;
  height: 500px;
  display: block;
  margin: 0 auto;
}


    .caption {
      padding: 15px;
      font-size: 1.1em;
      color: rgb(247, 245, 245);
      font-family: 'IM Fell DW Pica', serif;
    }

    .controls {
      padding: 10px;
      background-color: black;
      border-radius: 10px;
    }

    .controls button {
      padding: 10px 20px;
      font-size: 1em;
      margin: 0 5px;
      border: none;
      border-radius: 5px;
      background-color: #3e3a37;
      color: white;
      cursor: pointer;
    }

    .controls button:hover {
      background-color: #3e3a37;
    }


/* CAMPO DE IMAGENS DO ARQUIVO MAPS.HTML */

.image1-container {
    position: relative; /* Evita que a imagem fique fora do fluxo */
    width: 90%;          /* Ocupa 90% da largura do contêiner pai */
    max-width: 400px;    /* Limita a largura máxima */
    margin: 0.5% auto 0;  /* Centraliza horizontalmente e aplica margem superior */
    padding: 3px;
    background-color: rgb(9, 9, 32);
    border-radius: 10px;
    box-sizing: border-box;

}
#galleryImage1 {
    width: 100%;         /* Adapta à largura do contêiner */
    height: auto;        /* Mantém proporção da imagem */
    display: block;      /* Remove espaço extra abaixo da imagem */
    border-radius: 10px;

}

.image2-container {
    position: relative; /* Evita que a imagem fique fora do fluxo */
    width: 90%;          /* Ocupa 90% da largura do contêiner pai */
    max-width: 400px;    /* Limita a largura máxima */
    margin: 0.2% auto 0;  /* Centraliza horizontalmente e aplica margem superior */
    padding: 3px;
    background-color: rgb(9, 9, 32);
    border-radius: 10px;
    box-sizing: border-box;
}

#galleryImage2 {
    width: 100%;         /* Adapta à largura do contêiner */
    height: 290px;        /* Mantém proporção da imagem */
    display: block;      /* Remove espaço extra abaixo da imagem */
    border-radius: 10px;
}


/* --- SEÇÃO DE RESPONSIVIDADE (PARA DISPOSITIVOS MÓVEIS) --- */
@media (max-width: 768px) {

    nav {
        display: none;
        flex-direction: column;
        background-color: #1f0505;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 1rem;
        border-bottom-left-radius: 6px;
    }

    nav.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    /* Estilo para a página de entrada (index.html) */
    h1 {
        font-size: 2.5rem; /* Diminui o tamanho do título */
        letter-spacing: 2px; /* Reduz o espaçamento entre as letras */
    }

    .btn {
        font-size: 1.2rem; /* Diminui o tamanho do botão */
        padding: 12px 24px; /* Reduz o preenchimento do botão */
    }

    /* Estilo para a página do livro (livro.html) */
    .book-container {
        padding: 20px 10px; /* Reduz o preenchimento lateral */
    }

    .book-page {
        width: 95%; /* Usa quase toda a largura da tela */
        padding: 30px; /* Reduz o preenchimento interno */
    }

    .book-title {
        font-size: 2rem; /* Diminui o tamanho do título do livro */
    }

    p {
        font-size: 1rem; /* Diminui o tamanho da fonte do texto para melhor leitura */
    }
}

/* RODAPÉ */
footer {
    text-align: center;
    border-radius: 10px;
    color: rgb(134, 134, 134);
    font-weight: bolder;
    padding: 0;
    margin: 0%;
}

footer > p {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 4px;
    margin: 0%;
    opacity: 0.2;
}

/* EFEITO DO FOGO */
.fire-background {
    position: fixed; /* Fixa o fundo na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #080808; /* Fundo preto para o efeito de fogo */
    z-index: -1; /* Garante que fique atrás de todo o conteúdo */
    overflow: hidden; /* Garante que as partículas não saiam da tela */
}

/* Estilo para as partículas de fogo (serão criadas com JS) */
.fire-particle {
    position: absolute;
    background-color: #ff4500; /* Cor de fogo */
    border-radius: 50%;
    opacity: 0; /* Começa invisível */
    animation: fireSparkle 3s ease-out forwards; /* Animação de brilho e movimento */
}

@keyframes fireSparkle {
    0% {
        transform: translateY(0) scale(0);
        opacity: 0;
    }
    20% {
        opacity: 0.8;
        background-color: #ffa500; /* Laranja mais claro */
    }
    100% {
        transform: translateY(calc(100vh + 50px)) scale(1.5); /* Desce e aumenta de tamanho */
        opacity: 0;
        background-color: #ff0000; /* Vermelho */
    }
}